# Per-user / runtime files
MuLauncher.config.json
ScreenShots/
vault-backup/
*.log
*.dmp
*.dl-tmp
GetMainInfo.log
RegenerateMainEmu.log
ClientCompatibilitySetup.log
main-mitigations-backup.json

# Caches / temporales
Thumbs.db
desktop.ini
*.bak
*.tmp
*.tmp*
*.OLD

# OS
.DS_Store
